<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CapoeiraLyrics.info</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="./styles/capoeiralyrics.css">


	</head>
	<body>
		{% include '../includes/navbar.html' %}


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>

{# <!-- <head>
</head>
</head>
<h1>{{ pagename|title }}</h1>
		{% include 'includes/styles.inc.html' %}
		{{ title }}
<ul>

{% for artist in artists %}
		<li{% if loop.first %} class="first"{% endif %}>
				{% include 'artist.html' %}
		</li>
{% endfor %}
</ul> --> #}